* {
    /* margin: 0; */
    /* border: 0; */
    box-sizing: border-box;
}

body {
    background-color: lightgreen;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 15px;
    width: 70%;
    background-color: white;
}

.contBigl {
    border-radius: 0;
    
}

form,
.biglietto {
    display: flex;
    justify-content: center;
}

h2 {
    text-align: center;
    margin: 40px 0;
}

label {
    margin-bottom: 10px;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 48%;
    padding: 15px;
}

.bigl {
    width: 23%;      
}


hr {
    color: grey;
    width: 90%;
    margin: 20px 0;  
}


